/* #region Core */

@import url('reset.css');
@import url('fonts.css');

:root {
  --white-color: #ffffff;
  --text-color: #9c9c9c;
  --dark-color: #0d0d11;
  --gray-color: #81818b66;
  --gray-color-2: #81818b1a;
  --blue-color: #3d96f4;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark-color);
  color: var(--text-color);
  line-height: 150%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 15px;
}

/* #endregion */
/* #region Section */

.section {
  padding-bottom: 190px;
}

.section__title {
  font-size: clamp(34px, 3.38vw, 51px);
  font-weight: 500;
  line-height: 120%;
  color: #fff;
}

.section__label {
  display: inline-block;
  border: 1px solid var(--gray-color-2);
  border-radius: 12px;
  padding: 11px 19px;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

@media (width <= 1023px) {
  .section {
    padding-bottom: 120px;
  }
}

@media (width <= 767px) {
  .section {
    padding-bottom: 80px;
  }
}

@media (width <= 480px) {
  .section {
    padding-bottom: 50px;
  }
}

/* #endregion */
/* #region Buttons */

.btn {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.14em;
  text-align: center;
  color: #fff;
  transition: background 0.3s ease;
}

.btn-primary {
  background: var(--blue-color);
}

.btn-primary:hover {
  background: #1e6edc;
}

.btn-secondary {
  background: var(--gray-color-2);
}

.btn-secondary:hover {
  background: #6d6d70ff;
}

/* #endregion */
/* #region Header */

.header {
  padding-block: 32px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 120px;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__nav-link {
  display: inline-block;
  padding: 14px 10px;
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
  color: #fff;
}

.header__nav-link:hover {
  color: var(--blue-color);
  transition: color 0.3s ease;
}

@media (width <= 991px) {
  .header__content {
    gap: 50px;
  }
}

@media (width <= 820px) {
  .header__content {
    gap: 30px;
  }

  .header__nav-list {
    gap: 10px;
  }
}

@media (width <= 767px) {
  .header__inner {
    flex-direction: column;
    gap: 20px;
  }

  .header__content {
    gap: 20px;
  }
}

@media (width <= 600px) {
  .header__content {
    flex-direction: column;
    gap: 10px;
  }
}

@media (width <= 480px) {
  .header__nav-link {
    padding: 10px 5px;
  }
}

/* #endregion */
/* #region Intro */

.intro {
  padding-top: 40px;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.intro__content {
  max-width: 505px;
  padding-top: 120px;
}

.intro__title {
  position: relative;
  margin-bottom: 28px;
}

.intro__title:before {
  content: '';
  background-image: url('../images/bullets.svg');
  width: 122px;
  aspect-ratio: 1;
  position: absolute;
  top: -16px;
  left: -32px;
  z-index: 1;
}

.intro__text {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 32px;
}

.intro__btns {
  display: flex;
  gap: 32px;
}

.intro__images {
  display: flex;
  gap: 60px;
}

.intro__images-col {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
}

.intro__image-1,
.intro__image-4 {
  border-radius: 380px;
}

.intro__image-2 {
  border-radius: 244px 244px 0 244px;
}

.intro__image-3 {
  border-radius: 244px 0 244px 244px;
}

@media (width <= 1023px) {
  .intro__inner {
    flex-direction: column;
    align-items: center;
  }

  .intro__content {
    padding-top: 0;
  }

  .intro__images {
    gap: 40px;
  }

  .intro__images-col {
    gap: 20px;
  }
}

@media (width <= 480px) {
  .intro__title {
    margin-bottom: 16px;
  }

  .intro__text {
    margin-bottom: 20px;
  }

  .intro__btns {
    flex-direction: column;
    gap: 20px;
  }

  .intro__images {
    gap: 20px;
  }
}

/* #endregion */
/* #region Partners */

.partners__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.partners__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (width <= 1023px) {
  .partners__items {
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* #endregion */
/* #region Services */

.services__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.services__content {
  max-width: 495px;
}

.services__label {
  margin-bottom: 20px;
}

.services__title {
  margin-bottom: 12px;
}

.services__text {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 32px;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.services__item {
  max-width: 315px;
  min-width: 315px;
  padding: 55px 25px;
  background: var(--gray-color-2);
  border-radius: 30px;
}

.services__items-col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.services__items-col:first-child {
  margin-top: 48px;
}

.services__item-image {
  margin-bottom: 16px;
}

.services__item-title {
  font-size: 19px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 10px;
}

.services__item-text {
  color: #81818b;
}

@media (width <= 1080px) {
  .services__items {
    gap: 20px;
  }

  .services__items-col {
    gap: 20px;
  }
}

@media (width <= 1023px) {
  .services__inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 767px) {
  .services__item {
    padding: 45px 20px;
  }

  .services__items {
    grid-template-columns: 1fr;
  }

  .services__items-col:first-child {
    margin-top: 0;
  }
}

/* #endregion */
